.form__paragraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 10px;
    text-align: center;
    font-weight: 700;
}

.form__paragraph--centred {
    grid-template-columns: 1fr;
}

.form__label {
    align-self: center;
    justify-self: left;
    text-align: left;
    color: #333;
    font-weight: 700;
}