.form__button {
    width: 180px;
    background-color: teal;
    color: #eee;
    border-radius: 5px;
    padding: 15px;
    border: none;
}

.form__button:hover {
    background-color: hsl(180, 100%, 20%);
    cursor: pointer;
}